*{
    border: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.container{
    margin: 30px;
    border: 10px solid white;
    background-color: rgba(37, 36, 36, 0.521);
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 200px 200px;
    place-content: center;
    gap: 40px;
}
.bloques{
    background-color: greenyellow;
    position: relative;
}
.bloque-interno{
    height: 85px;
    width: 50px;
    background-color: rgb(53, 141, 12);
    position: absolute;
    bottom: 0;
    right: 0;
}
